.load-container{
    background-color: #adcee8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load-container img{
    background: transparent;
}

.loading-heading{
    display: flex;
    align-items: center;
    gap: 20px;
}